*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../images/bgi.png");
    background-size: cover;
}

.container {
    width: 1366px;
    margin: 0 auto;
    padding: 0 178px 16px 160px;
    font-family: roboto, serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 46px;
}

.logo-image {
    width: 53px;
    height: 47px;
    margin-right: 8px;
    background-image: url("../images/logo.png");
    background-position: -73px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-image:hover {
    background-position: 0 0;
}

.logo-slogan {
    display: block;
    color: #FFFFFF;
    font-family: roboto, serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 53px;
}

.logo-slogan:hover {
    color: #F26522;
}

.logo-slogan1 {
    font-size: 29px;
    line-height: 29px;
    padding-top: 5px;
}

.logo-slogan2 {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 5px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.contacts a:hover {
    color: #F26522;
    transition: 0.5s;
}

.contact-mail {
    padding-bottom: 19px;
}

.contacts a {
    color: #FFFFFF;
    text-decoration: none;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 220px);
    column-gap: 60px;
    row-gap: 78px;
}

.cards {
    width: 300px;
    object-fit: contain;
    position: relative;
    display: flex;
    flex-direction: column;
}

.page-card-hover {
    width: 300px;
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #F26522;
    object-fit: cover;
    font-weight: 400;
    opacity: 0;
    transition: 0.5s;
}

.page-card-hover:hover {
    opacity: 1;
    transition: 0.5s;
}

.page-price {
    position: relative;
    width: 100%;
    padding-top: 7px;
    padding-left: 16px;
    font-size: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.page-card-price {
    position: relative;
    padding-left: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.page-card-price item1 {
    font-size: 20px;
}

.page-card-price item2 {
    font-size: 14px;
    padding-right: 37px;
}

.item2:after {
    content: "\203A";
    position: relative;
    width: 5px;
    height: 10px;
    padding-right: 16px;
    padding-left: 16px;
}

.card-name {
    padding-top: 20px;
    align-self: center;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
}

.card-name:hover {
    color: #F26522;
    transition: 0.5s;
}

.page-copyrights {
    margin-top: 49px;
    padding-bottom: 15px;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
}